<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakery | Invoicer</title>
</head>
<body>
    <form action="/upload" method="POST" enctypy="multipart/form-data">
        <label for="md_input_file">Markdown файл с адресами:</label>
        <input type="file" id="md_input_file" name="md_input_file"> <br>
        <input type="submit">
    </form>
</body>
</html>